<div class="row justify-content-center">
  <div class="col-xs-12 col-md-8">
    <form #blogform="ngForm">
      <h2 *ngIf="newBlog">New blog</h2>
      <h2 *ngIf="!newBlog">Update blog</h2>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          #title="ngModel"
          [(ngModel)]="blog.title"
          class="form-control"
          id="title"
          name="title"
          required
          type="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          #description="ngModel"
          [(ngModel)]="blog.description"
          class="form-control"
          id="description"
          rows="5"
          name="description"
          required
          type="description"
        ></textarea>
      </div>

      <div [hidden]="!warning" class="alert alert-danger warning-banner">
        {{ warning }}
      </div>

      <!-- Existing images for edited blog (edit mode only) -->
      <app-image-container
        [photo]="photo.url"
        [id]="i"
        *ngFor="let photo of photos; let i = index"
        (clickDelete)="onClickDeleteExisting($event)"
      ></app-image-container>

      <!-- Preview uploaded images for new blog -->
      <app-image-container
        [photo]="photoUrl"
        [id]="i"
        *ngFor="let photoUrl of photosToUpload; let i = index"
        (clickDelete)="onClickDelete($event)"
      ></app-image-container>

      <br />
      <input
        #hiddenFileInput
        (change)="onSelectFile($event)"
        class="hidden-file-input"
        type="file"
      />
      <button (click)="hiddenFileInput.click()" class="btn btn-primary">
        Add photo
      </button>
      <div class="row">
        <button
          (click)="onSubmit(title, description)"
          class="btn btn-success"
          type="submit"
        >
          Submit
        </button>
        <button
          [routerLink]="[backToLink]"
          class="btn btn-secondary ml-3"
          type="button"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
