<div class="blog-comment">
  <p class="blog-comment-header mb-1">
    <strong
      class="mr-3 router-link"
      [routerLink]="['/profile', comment.author.username]"
      >{{ comment.author.displayName }}</strong
    >
    <em>{{ dateCreated }}</em>
  </p>

  <div class="row" *ngIf="!editMode">
    <div class="col-11 blog-comment-description">
      {{ comment.description }}
    </div>
    <div class="col-1" *ngIf="ownComment">
      <span
        class="ellipsis-dropdown float-right"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ><i class="fas fa-ellipsis-v"></i
      ></span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="editMode = true">Edit</a>
        <a class="dropdown-item" (click)="deleteComment()">Delete</a>
      </div>
    </div>
  </div>

  <!-- Edit mode -->
  <div class="row" *ngIf="editMode">
    <div class="col-12 pl-0 pr-0">
      <form #blogform="ngForm">
        <div class="form-group">
          <!-- <label for="description">Description</label> -->
          <textarea
            #description="ngModel"
            [(ngModel)]="editedComment"
            class="form-control"
            id="description"
            rows="2"
            name="description"
            required
            type="description"
          ></textarea>
        </div>

        <div class="row">
          <div class="col-12 pl-0 pr-0">
            <button
              (click)="editComment()"
              class="btn btn-success float-right"
              type="submit"
            >
              Submit
            </button>
            <button
              (click)="cancelEdit()"
              class="btn btn-secondary mr-3 float-right"
              type="button"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
