.transparent-bg {
  background-color: transparent !important;
}

.home-background {
  height: 100vh;
  background-position: 40% 40%;
  background-image: url("https://i.imgur.com/AuVgXuy.jpg?1");
  background-repeat: no-repeat;
  background-size: cover;
}

.opaque-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  opacity: 0.5;
  z-index: -999;
}
