/* You can add global styles to this file, and also import other style files */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.box {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin: 10px 0;
}

.icon {
  width: 16px;
  margin: 0 8px;
}


.router-link {
  cursor: pointer;
}

.router-link:hover {
  text-decoration: underline;
}


/* Change colour of svg. See https://codepen.io/sosuke/pen/Pjoqqp */
.icon-link {
  /* Bootstrap primary colour = #007bff; */
  filter: invert(34%) sepia(61%) saturate(5653%) hue-rotate(202deg)
    brightness(106%) contrast(103%);
}

.text-link {
  color: #007bff;
}

.text-link:hover {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
