<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Make it a meal:</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a
        href="#burgers"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Burgers</a
      >
      <ul class="collapse list-unstyled" id="burgers">
        <li *ngFor="let type of menu.burgers | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('burgers', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#sides"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Sides</a
      >
      <ul class="collapse list-unstyled" id="sides">
        <li *ngFor="let type of menu.sides | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('sides', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#drinks"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Drinks</a
      >
      <ul class="collapse list-unstyled" id="drinks">
        <li *ngFor="let type of menu.drinks | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('drinks', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
