<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Make it a meal:</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a
        href="#burgers"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Burgers</a
      >
      <ul class="collapse list-unstyled" id="burgers">
        <li *ngFor="let type of menu.burgers | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('burgers', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#sides"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Sides</a
      >
      <ul class="collapse list-unstyled" id="sides">
        <li *ngFor="let type of menu.sides | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('sides', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#drinks"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Drinks</a
      >
      <ul class="collapse list-unstyled" id="drinks">
        <li *ngFor="let type of menu.drinks | keyvalue: preserveOrder">
          <a [routerLink]="" (click)="onClickSubcategory('drinks', type.key)">
            {{ type.key }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- <li *ngFor="let category of menu | keyvalue: preserveOrder">
  <a
    [href]="'#' + category.key"
    data-toggle="collapse"
    aria-expanded="false"
    class="dropdown-toggle"
    >{{ category.key }}</a
  >
  <ul class="collapse list-unstyled" [id]="category.key">
    <li *ngFor="let subcategory of category.value | keyvalue: preserveOrder">
      <a [routerLink]="" (click)="onClickSubcategory(subcategory.value)">
        {{ subcategory.key }}
      </a>
    </li>
  </ul>
</li> -->

<!-- <li>
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Beefy Burgers</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li *ngFor="let burger of burgers">
          <a [routerLink]="" (click)="onClick()">
            {{ burger }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Sides</a
      >
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li *ngFor="let side of sides">
          <a [routerLink]="" (click)="onClick()">
            {{ side }}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#pageSubmenu2"
        data-toggle="collapse"
        aria-expanded="false"
        (click)="onClick()"
        >Chicken</a
      >
    </li>
    <li>
      <a
        href="#drinkSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Drinks</a
      >
      <ul class="collapse list-unstyled" id="drinkSubmenu">
        <li>
          <a [routerLink]="" (click)="onClick()">Hot</a>
        </li>
        <li>
          <a [routerLink]="" (click)="onClick()">Cold</a>
        </li>
      </ul>
    </li> -->
