<li class="list-group-item featured-user-item">
  <img
    *ngIf="user.profilePicture.url === ''"
    src="assets/flights.svg"
    [routerLink]="['/profile', user.username]"
    [alt]="user.displayName"
  />
  <img
    *ngIf="user.profilePicture.url !== ''"
    [src]="user.profilePicture.url"
    [routerLink]="['/profile', user.username]"
    [alt]="user.displayName"
  />
  <div class="row justify-content-center">
    <h4 [routerLink]="['/profile', user.username]" class="router-link">
      {{ user.displayName }}
    </h4>
  </div>
  <div class="row justify-content-center" *ngIf="ownUsername !== user.username">
    <button
      *ngIf="!user.following"
      class="btn btn-primary"
      (click)="followUser(user)"
    >
      Follow
    </button>
    <button
      *ngIf="user.following"
      class="btn btn-primary"
      (click)="unfollowUser(user)"
    >
      Unfollow
    </button>
  </div>
</li>
