<div class="wrapper">
  <app-left-sidebar
    (clickSubcategory)="clickSubcategory($event)"
  ></app-left-sidebar>

  <div class="card">
    <h5 class="card-header">Burgler menu</h5>
    <div class="card-body">
      <h5 class="card-title">Tasty food served hot and fresh!</h5>
      <p class="card-text">
        Choose and customise your burgers, sides, and drinks!
      </p>

      <ul class="list-group" *ngIf="foodType === 'burgers'">
        <app-burger-modal
          *ngFor="let burger of foodsToDisplay"
          [burger]="burger"
        ></app-burger-modal>
      </ul>

      <ul class="list-group" *ngIf="foodType !== 'burgers'">
        <li class="list-group-item" *ngFor="let food of foodsToDisplay">
          <h4>{{ food.name }}</h4>
          <p *ngFor="let option of food.options">
            {{ option.size }}: £{{ option.price }} / {{ option.calories }} kcal
            <button
              class="btn btn-primary float-right"
              (click)="addFoodToOrder(food.name, option.size)"
            >
              Add
            </button>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <app-right-sidebar [order]="order"></app-right-sidebar>
</div>
