.wrapper {
  display: flex;
  width: 100%;
  /* align-items: stretch; */
}

.order-item {
  margin-bottom: 10px;
}

.button-margin {
  margin-right: 10px;
}

.card {
  width: 1500px;
}

.food-option-margin {
  margin-bottom: 10pt;
}

.food-image {
  height: 200px;
  object-fit: cover;
  margin: auto;
  /* position: fixed; */
  /* z-index: 1; */
}
