<ul class="list-group">
  <p *ngIf="users.length === 0">No users to show.</p>
  <li *ngFor="let user of users" class="list-group-item featured-user-item">
    <img [src]="user.photoUrl" [alt]="user.displayName" />
    <h4>{{ user.displayName }}</h4>
    <p>{{ user.bio }}</p>
    <button
      *ngIf="!user.following"
      class="btn btn-primary"
      (click)="followUser(user)"
    >
      Follow
    </button>
    <button
      *ngIf="user.following"
      class="btn btn-primary"
      (click)="unfollowUser(user)"
    >
      Unfollow
    </button>
  </li>
</ul>
