<div class="row justify-content-center">
  <div class="col-12 col-lg-9">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ blog.title }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">
          <img [src]="blog.user.photoUrl" class="user-thumbnail" />
          {{ blog.user.displayName }}
        </h6>
        <div class="card-text">
          <div class="row">
            <div *ngIf="blog.images.length > 0" class="col-12 col-md-4">
              <img
                *ngFor="let image of blog.images"
                class="blog-image"
                [src]="image.url"
                [alt]="image.description"
              />
            </div>
            <div class="col-12 col-md-8">
              <p>{{ blog.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-modal [blog]="blog"></app-delete-modal>
