<div class="login-container">
  <div class="row justify-content-center">
    <h1 *ngIf="!login">Sign up</h1>
    <h1 *ngIf="login">Login</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <form
        (ngSubmit)="onSubmit(email, password, confirmPassword)"
        #emailForm="ngForm"
      >
        <div class="form-group" [hidden]="login">
          <label for="username">Username</label>
          <input
            type="username"
            class="form-control"
            id="username"
            required
            [(ngModel)]="loginForm.username"
            name="username"
            #username="ngModel"
          />
        </div>

        <div class="form-group" [hidden]="login">
          <label for="displayName">Display Name</label>
          <input
            type="displayName"
            class="form-control"
            id="displayName"
            required
            [(ngModel)]="loginForm.displayName"
            name="displayName"
            #displayName="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            email
            required
            [(ngModel)]="loginForm.email"
            name="email"
            #email="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required
            [(ngModel)]="loginForm.password"
            name="password"
            #password="ngModel"
          />
        </div>

        <div class="form-group" [hidden]="login">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            required
            [(ngModel)]="loginForm.confirmPassword"
            name="confirmPassword"
            #confirmPassword="ngModel"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button
          type="button"
          class="btn btn-default"
          (click)="newForm(); emailForm.reset(); warning = null"
        >
          Reset
        </button>

        <div [hidden]="!warning" class="alert alert-danger warning-banner">
          {{ warning }}
        </div>
      </form>
    </div>
  </div>
</div>
