<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 profile-section">
      <img
        class="profile-picture"
        *ngIf="profile && profile.photoUrl"
        [src]="profile.photoUrl"
      />
      <img
        class="profile-picture"
        *ngIf="!profile || !profile.photoUrl"
        src="assets/travels.svg"
      />
      <h2>{{ profile && profile.displayName }}</h2>
      <p>{{ profile.bio }}</p>
      <div *ngIf="ownProfile">
        <button [routerLink]="['/edit-profile']" class="btn btn-primary m-2">
          Edit
        </button>
        <button (click)="signOut()" class="btn btn-primary m-2">
          Sign Out
        </button>
      </div>

      <div *ngIf="!ownProfile && !profile.following">
        <button class="btn btn-primary" (click)="onFollow()">Follow</button>
      </div>
      <div *ngIf="!ownProfile && profile.following">
        <button class="btn btn-primary" (click)="onUnfollow()">Unfollow</button>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <app-user-blogs
        [profile]="profile"
        [ownProfile]="ownProfile"
        [blogs]="blogs"
      ></app-user-blogs>
    </div>
    <div class="col-12 col-lg-2">Followers and followings</div>
  </div>
</div>
