<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Your order</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a
        href="#homeSubmenu2"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Beefy Burgers</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu2">
        <li *ngFor="let burger of []">
          <a [routerLink]="" (click)="onClick()">
            {{ burger }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
