<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Your order</h3>
  </div>
  <ul class="list-unstyled components">
    <li>
      <h5>Edit items in basket:</h5>
      <ul class="list-unstyled" id="order-list">
        <li *ngFor="let foodItem of getFoodItems()">
          <div
            class="food-display"
            [attr.data-toggle]="useModalForBurger(foodItem)"
            data-target="#burgerModal"
            (click)="updateBurgerModal(foodItem)"
          >
            {{ foodItem.name }}
            <span *ngIf="!!foodItem.customId">(custom) </span>
            <span *ngIf="!checkOneSize(foodItem)">({{ foodItem.size }}) </span>
            x{{ foodItem.quantity }}
            <button
              class="btn btn-default btn-danger float-right"
              (click)="
                onDeleteItem(foodItem.name, foodItem.size, foodItem.customId)
              "
            >
              X
            </button>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>
