<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Your order</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <h5>Edit items in basket:</h5>
      <ul class="list-unstyled" id="order-list">
        <li *ngFor="let foodItem of getFoodItems()">
          <p>
            {{ foodItem.name }} ({{ foodItem.size }}) x{{ foodItem.quantity }}
          </p>
          <button
            class="btn btn-default btn-danger float-right"
            (click)="onDeleteItem(foodItem.name, foodItem.size)"
          >
            Remove
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
