<!-- <div class="row justify-content-center">
  <h1>Social login:</h1>
</div> -->
<div class="row justify-content-center social-login-mt">
  <button class="social-login-box google" id="googleBtn">
    <i class="fab fa-google fa-lg"></i>
    Login by Google
  </button>

  <button class="fb-login-button social-login-box facebook" data-auto-logout-link="false" data-button-type="continue_with" data-layout="default" data-size="large" data-use-continue-as="false" data-width="">
    <i class="fab fa-facebook fa-lg"></i>
    Login by Facebook
  </button>


  <div class="fb-login-button" data-auto-logout-link="false" data-button-type="continue_with" data-layout="default" data-size="large" data-use-continue-as="false" data-width=""></div>
  <!-- <i class="fab fa-facebook-f hover-white" target="_blank" href=""></i>
  <i class="fab fa-twitter hover-white" target="_blank" href=""></i> -->
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <!-- <div id="googleBtn">Google</div> -->
</div>
