@page
@model NorthwindWeb.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thread class="thread-inverse">
            <tr><th>Customer Name</th></tr>
        </thread>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr><td><a href=@customer.CustomerID>@customer.CompanyName, @customer.Country</a> </td></tr>
            }
        </tbody>
    </table>
</div>

