<div
  *ngFor="
    let foodItem of [].concat(
      order.burgerItems,
      order.sideItems,
      order.drinkItems
    )
  "
>
  <app-order-item [foodItem]="foodItem"></app-order-item>
</div>
<div style="font-weight: 600;">Total = £{{ order.totalPrice }}</div>
<div style="font-style: italic;" *ngIf="status !== 'pending'">
  {{ order.status }}, order placed at
  {{ order.orderedAt | reformatDateTime }}
</div>
<div style="margin-top: 10px;">
  <button
    class="btn btn-primary"
    *ngIf="order.status === 'pending'"
    data-toggle="modal"
    data-target="#orderConfirmationModal"
    (click)="confirmOrder('placeOrder')"
  >
    Place order!
  </button>
  <button
    class="btn btn-primary"
    *ngIf="order.status !== 'pending'"
    data-toggle="modal"
    data-target="#orderConfirmationModal"
    style="margin-right: 10px;"
    (click)="confirmOrder('reorder')"
  >
    Reorder
  </button>
  <a
    *ngIf="order.status === 'placed'"
    href="orders"
    class="btn btn-danger btn-default"
    data-toggle="modal"
    data-target="#orderConfirmationModal"
    (click)="confirmOrder('cancelOrder')"
  >
    Cancel Order
  </a>
</div>
