<div class="row additional-info">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <h5>Followers: {{ profile.followers.length }}</h5>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <h5>Following: {{ profile.followings.length }}</h5>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <h5>Blogs: {{ profile.blogs.length }}</h5>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <h5>Last login: {{ lastLogin }}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
