<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Make it a meal:</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a
          href="#homeSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Beefy Burgers</a
        >
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li *ngFor="let burger of burgers">
            <a [routerLink]="" (click)="onClick()">
              {{ burger }}
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Chips and Sides</a
        >
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Regular chips</a>
          </li>
        </ul>
      </li>
      <li *ngFor="let item of menu">
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >{{ item }}</a
        >
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">aadsf</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Drinks</a>
      </li>
    </ul>
  </nav>
</div>
