<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <!-- Blogs -->
      <h3>Blogs</h3>
      <ul class="list-group blog-list">
        <div *ngIf="!blogs || blogs.length === 0">No blogs to show.</div>
        <li *ngFor="let blog of blogs" class="list-group-item">
          <app-blog-detail [blog]="blog"></app-blog-detail>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <app-featured-users></app-featured-users>
    </div>
  </div>
</div>
